@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Work Sans", serif; */
body {
    font-family: Fira Sans;
    width: 91.667%;
    margin-left: auto;
    margin-right: auto;
}

.my-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.nav-button{
    width: 116px;
    height: 52px;
    color: rgb(0, 106, 80);
    font-size: 18px;
}

.intro {
    background-color: aqua;
}

#first {
    border-radius: 24px;

    background: rgb(198, 228, 214);

    .first {

        /* Frame 3 */
        position: static;
        width: 622px;
        height: 326px;
        /* Auto layout */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 24;
        padding: 0px;


        /* Inside Auto Layout */
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 64px;
    }

    border-radius: 24px;

    background: rgb(198, 228, 214);
}

.title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
}

.img1 {
    /* position: absolute;
width: 474.03px;
height: 329.21px;
left: 157.37%;
right: -157.37%;
top: 20%;
bottom: -2.3%; */

}