@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Work Sans", serif; */
body {
    font-family: Fira Sans;
    width: 91.667%;
    margin-left: auto;
    margin-right: auto;
}

.my-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.nav-button {
    width: 116px;
    height: 52px;
    color: rgb(0, 106, 80);
    font-size: 18px;
}

#first {
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 60px;
    display: flex;
}

.genz {
    color: rgba(14, 14, 14, 0.5);
}

.explore-btn {
    border-radius: 8px;
    background: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 10px;
}

.title {
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
}

